	
<!-- <button class="btn btn-primary" routerLink="/blog-post-form">Create Blog Form</button> -->
<!-- JUMBOTRON -->
<div class="jumbotron jumbotron-fluid border" style="border-color: var(--light-green) !important; border-width: 10px !important;">
	<div class="container">
		<div *ngFor="let post of blogposts; let i=index;">
			<div *ngIf="i<1">
				<h1 class="">
					<a routerLink="/post/{{post.titleLink}}" class="jumbo-text to-click">{{post.title}}</a>
				</h1>
				<p class="lead" style="font-style: italic; color: var(--auto-red); font-size: 25px;">
					{{post.description}}
				</p>	
				<div class="d-flex flex-column text-right" style="line-height: 1.2">
					<span style="" *ngIf="post.author">By: {{post.author}}</span>
					<span style="" *ngIf="post.category">Category: {{post.category}}</span>
					<span style="" *ngIf="post.dateCreated">Date Posted: {{post.dateCreated}}</span>
				</div>	
			</div>
			
		</div>
	</div>
</div>

<button routerLink="admin/dashboard/blog-form">Post New Article</button>

<!-- TRACK WILL CHANGE FOR MOBILE -->
<div class="track d-flex mb-5 mx-auto col-md-10">

	<section class="left col-md-3">
		<p class="section-header">Latest News</p>
		<article class="ts text-left">
			<div class="d-flex flex-column">
				<a *ngFor="let article of bnbArticles; let i=index">
					<div *ngIf="i<6"  class="border-bottom pb-2 mb-2">
						<h5><a href="{{article.link | slice:7:800}}" style="text-decoration: none; color: black;">
							<strong class="to-click">
								{{article.title | slice:0:30}}
							</strong>
						</a></h5>
						<p class="description-text" >{{article.desc | slice:0:46}}...</p>						
					</div>
				</a>
				<div class="p-1"></div>
			</div>
		</article>
	</section>
	<section class="main col-md-5">
		<p class="text-left section-header">Recent Vidoes</p>
		<article *ngFor="let link of embedvids; let i=index" class="ms text-center">
			<div class="video">
				<iframe [src]="link" width="100%" height="240px" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</article>
	</section>
	<section class="right col-md-4">
		<p class="section-header">Trending Stories</p>
		<article *ngFor="let post of blogposts; let i=index;" class="text-left">
			<div *ngIf="i > 0 && i<6">
				<div class="border-bottom pb-2 mb-2">
					<h5><a routerLink="/post/{{post.titleLink}}" style="text-decoration:none; color: black; ">
						<strong class="to-click" >{{post.title | slice:0:80 }}</strong>
					</a></h5>

					<p *ngIf="post.description" class="description-text">{{post.description}}</p>
					<div class="d-flex flex-column text-right">
						<small *ngIf="post.author">By: {{post.author}}</small>
						<small *ngIf="post.category">Category: {{post.category}}</small>
						<small *ngIf="post.dateCreated">Date Posted: {{post.dateCreated}}</small>
					</div>
				</div>
			</div>
		</article>
	</section>
</div>

<!-- KIT SECTION -->

<section class="Kit-slider mt-5 mx-auto p-4" style="background-color: var(--light-green); padding-bottom: 60px !important;">
	<div class="slider-container bg-white border mx-auto col-12" style="max-width: 1000px; position: relative;">
		<h3 class="section-header pos_abs" style="top: -65px;">Checkout Our Custom Collections</h3>
		<button routerLink="/kit-collections" class="btn red-button pos_abs" style="bottom: -50px; right: 0;">See More...</button>
		<div class="slider-track d-flex" style="overflow-x: scroll;">

			<div *ngFor="let link of embedkits; let i = index" class="col-6">				
				<iframe [src]="link" class="kitbox my-3 py-2" scrolling="no"></iframe>
			</div>
		</div>	
	</div>	
</section>