<div class="d-flex mx-auto m-2 align-items-center" style="min-width: 300px; max-width: 900px;">
	<h3 class="mr-3">NEWS!</h3>
	<div class="border p-2 d-flex " style="min-width: 800px;">
		<a class="border p-1 m-2">
			<b>Title</b>
			<p>description</p>
			<p>description</p>
		</a>
	</div>
</div>
<br>
<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<h1 class="display-4">Main Story or Big Logo Presentation</h1>
		<p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
	</div>
</div>

<button routerLink="/blog-post-form">Post New Article</button>
<div class="track d-flex">

	<section class="left col-md-4 bg-primary">
		<p>Top Stories</p>
		<article class="ts text-center">
			<div class="">
				<img src="https://dummyimage.com/600x400/000/fff" width="100%" height="auto">
			</div>
			<div class="headline">Headline of the Story</div>
		</article>
	</section>
	<section class="main col-md-5 bg-secondary p-0">
		<article class="ms text-center">
			<div class="video">
				<iframe width="100%" height="240px" src="https://www.youtube.com/embed/_xRoEXcVDow" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<!-- <img src="https://dummyimage.com/600x400/000/fff" width="100%" height="auto"> -->
			</div>
			<!-- <div class="caption">My Latest Video upload</div> -->
			<!-- <div class="sub text-left"><small>date, time, topic, hashtag</small> </div> -->
		</article>
	</section>
	<section class="right col-md-3 bg-info">
		<p>Latest Stories</p>
		<article class="ls text-left">
			<div class="border-bottom pb-2">Headline of the story</div>
		</article>
	</section>
</div>