<div class="comment_container col-12 d-flex">
	<div class="comment_from">
		<div class="user_pic">
			<img *ngIf="user?.profilePic" class="rounded-circle" width="60px" src="{{user.profilePic}}">
			<img *ngIf="!user?.profilePic" class="rounded-circle" width="60px" src="assets/images/default-user.jpeg">
		</div>
		<div class="user_name">{{user?.email}}</div>
		<small class="comment_time">{{time_posted}}</small>

	</div>
	
	<div class="comment_content col-10">
		<p>{{content}}</p>
		<!-- <textarea class="form-control comment_text" ngModel="{{content}}" name="content" type="text" placeholder="Enter your Comment here..." (editSaved)="onContentSaved($event)"></textarea> -->
	</div>
	<div class="comment_options col-2">
		<button class="btn btn-link">Edit</button>
		<button class="btn btn-link">Delete</button>
	</div>
</div>