<div class="container-fluid">
	<div *ngIf="post" class="col-md-9 mx-auto mt-5 pt-3">
		<h1 class="title-text">{{post?.title}}</h1>
		<h5 class="description-text">{{post?.description}}</h5>
		<div>
			<p class="mb-0" ><a routerLink="/view-profile" style="color: black;">{{post?.author}}</a></p>
			<p class="small-text mb-0">{{post?.dateCreated}}</p>
		</div>
		<br>
		<br>
		<br>
		<p style="font-size: large;" class="mb-0" [innerHTML]="post.content"></p>
		<small>
			<p *ngIf="post.hashtags">Hashtags: {{post.hashtags}}</p>
			<p>Categories: {{post?.category}}</p>
		</small>
	</div>
	<div class="col-md-8 mx-auto my-3" [class.showComments]="pullComments">
		<app-comment-section *ngIf="show" [post_id_try]="this.post_id"></app-comment-section>
	</div>
    <div (click)="loadComments()" class="SeeMore btn grey-button col-md-8 mx-auto justify-content-center d-flex" *ngIf="!show" style="cursor: pointer;">View Comments...</div>

</div>

