<div class="container-fluid">
	<div *ngIf="post" class="col-md-8 mx-auto mt-5 pt-3">
		<h1 class="title-text">{{post?.title}}</h1>
		<h5 class="description-text">{{post?.description}}</h5>
		<div>
			<p class="small-text mb-0">{{post?.author}}</p>
			<p class="small-text mb-0">{{post?.dateCreated}}</p>
		</div>
		<br>
		<br>
		<br>
		<p style="font-size: large;" [innerHTML]="post.content"></p>
		<br>
		<small>
			<p *ngIf="post.hashtags">Hashtags: {{post.hashtags}}</p>
			<p>Categories: {{post?.category}}</p>
		</small>
	</div>
</div>

