<footer>
	<nav class="navbar bg-dark">
		<div class="navbar-expand m-auto navbar-text">
			<div class="row">
				<div class="col-lg-6 text-center ">
					<p class="text-white small mb-0">© AirBnB Automated 2019. All Rights Reserved.</p>
				</div>
				<div class="col-lg-6 h-100 text-center text-lg-right my-auto">
					<ul class="list-inline mb-0" style="color: white;">
						Contact us by <a href="mailto:contact@airbnb-auto.com?subject=Give your feedback">Email AirBnB-Auto</a>
					</ul>
				</div>
			</div>
		</div>
	</nav>
</footer>
