<header>
	<nav class="navbar navbar-light static-top p-0 ">
		<div class="container-fluid justify-content-center">
			<a class="navbar-brand py-0 class btn" href="/home">
				<img src="/assets/images/logo.png" width="180" height="70" alt="AirBnB Automated Logo">
			</a>
			<ul class="mb-0 d-flex" style="color: black; position: absolute; right: 1em;">
				<div class="litty d-flex flex-wrap">
					<button class="btn grey-button mx-1" routerLink="./auth/login">Login </button>
					<button class="btn blue-button mx-1" routerLink="./auth/signup">Sign Up</button>
					<!-- <button class="btn btn-danger mx-1" routerLink="404">Up</button> -->
				</div>
			</ul>
		</div>
	</nav>
</header>
