<mat-form-field>
	<input matInput (keyup)="doFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="d-flex">
	<button class="btn blue-button ml-auto mr-3" routerLink="/admin/dashboard/blog-form">Create Post</button>	
</div>

<table mat-table [dataSource]="dataSource" matSort>
	
	<ng-container matColumnDef="title">
		<th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
		<td mat-cell *matCellDef="let element"> {{element.title}} </td>
	</ng-container>

	<ng-container matColumnDef="author">
		<th mat-header-cell *matHeaderCellDef mat-sort-header> Author </th>
		<td mat-cell *matCellDef="let element"> {{element.author}} </td>
	</ng-container>

	<ng-container matColumnDef="category">
		<th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
		<td mat-cell *matCellDef="let element"> {{element.category}} </td>
	</ng-container>

	<ng-container matColumnDef="dateCreated">
		<th mat-header-cell *matHeaderCellDef mat-sort-header> Published </th>
		<td mat-cell *matCellDef="let element"> {{element.dateCreated}} </td>
	</ng-container>

	<ng-container matColumnDef="update">
		<th mat-header-cell *matHeaderCellDef> Update </th>
		<td mat-cell *matCellDef="let element">
			<div class=" mx-1" (click)="redirectToUpdate(element.titleLink)">
				<i class="btn material-icons text-center" style="color: black;">edit</i>
			</div>

		</td>
	</ng-container>

	<ng-container matColumnDef="delete">
		<th mat-header-cell *matHeaderCellDef> Delete </th>
		<td mat-cell *matCellDef="let element">
			<!-- <button mat-icon-button class="" (click)="redirectToDelete(element.id)"> -->
				<div class=" mx-1" (click)="redirectToDelete(element.id)">
					<i class="btn material-icons text-center" style="color: var(--dark-red);">delete</i>
				</div>
			</td>
		</ng-container>



		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>

	<div *ngIf="PostEdit">
		<app-blog-post-form [editPost]="PostEdit"></app-blog-post-form>
	</div>
