<div style="background: lightblue; height: 200px" class="d-flex p-3 justify-content-around">
	<div>
		<h1>John Jones</h1>
		<h5>Look at my stuff</h5>
		<p>Member since: 2008</p>		
	</div>
	<div class="rounded-image"> picture here</div>
</div>

<div class="p-5">
	<h1>
		About ME:
	</h1>
	<p>The Houston Astros are an American professional baseball team based in Houston, Texas. The Astros compete in Major League Baseball as a member club of the American League West division, having moved to the division in 2013 after spending their first 51 seasons in the National League. Wikipedia</p>
</div>