<div class="container-fluid d-flex justify-content-center my-2">
	<div class="col-md-11">
		<div class="card">
			<div class="card-header text-center">
				<h4 *ngIf="!editPost; else edit">Blog Post Form</h4>
				<ng-template #edit>
					<h4>Edit Post Form</h4>
				</ng-template>
			</div>

			<div class="card-body">
				<form #blogpost="ngForm" >
					<div class="form-group col-md-9">
						<label>Author</label>
						<input class="form-control" ngModel="{{editPost?.author}}" name="author" type="text" placeholder="Jane Smith" #author>
					</div>	
					<div class="form-group col-md-9">
						<label>Title</label>
						<input class="form-control" ngModel="{{editPost?.title}}" name="title" #title="ngModel" type="text" placeholder="Main Headline">
					</div>
					<div class="form-group col-md-9">
						<label>Description</label>
						<textarea class="form-control" ngModel="{{editPost?.description}}" name="description" type="text" placeholder="Description Details"></textarea>
					</div>
					
					<div class="form-group col-md-9">
						<label>Content</label>
						<quill-editor [styles]="editorStyle" ngModel="{{editPost?.content}}" name="content" #content="ngModel"></quill-editor>
					</div>
					<div class="form-group col-md-9">
						<label>Hashtags</label>
						<input class="form-control" ngModel="{{editPost?.hashtags}}" name="hashtags" type="text" id="hashtags" placeholder="Separate by comma: (fun, happy, food, rent)">
					</div>
					<div class="form-group col-md-9">
						<label>Category</label>
						<select class="custom-select" ngModel="{{editPost?.category}}" name="category" id="category">
							<option selected>{{editPost?.category}}</option>
							<option value="informational">Informational</option>
							<option value="entertainment">Entertainment</option>
							<option value="news">News</option>
						</select>					
					</div>
					<div class="card-footer text-center">
						<button class="btn blue-button" (click)="showPreview(content.value,blogpost)" >Preview</button>
						<button *ngIf="editPost; else create" class="btn green-button mx-4" 
						(click)="updateBlogPost(editPost.titleLink, blogpost)">Save</button> 
						<ng-template #create>
							<button class="btn green-button mx-4" (click)="SubmitPost(blogpost)">Submit</button>
						</ng-template>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- PREVIEW -->
<section class="previewModal" [class.modalClose]="modalClosed">
	<div class="col-md-8 card modalContent" style="max-height: 70%;">
		<h3 class="card-header">Preview</h3>
		<div class="" style="overflow-y: scroll;">
			<br>
			<h1>{{previewPost?.title}}</h1>
			<h5>{{previewPost?.description}}</h5>
			<p>{{previewPost?.author}}</p>
			<br>
			<p [innerHTML]="previewContent"></p>
			<br>
			<small>
				<p>{{previewPost?.hashtags}}</p>
				<p>{{previewPost?.category}}</p>
			</small>
		</div>
		
		<div class="modal-footer">
			<button (click)="exitPreview()" class="btn btn-danger">Close</button>
		</div>
	</div>
</section>