 /*You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';



img{
	max-width: 400px !important;
}

/*style for scroll bars*/


/*color variables*/
:root {
	/*GRAYS*/
	--auto-gray:#D2CACF;
	--dark-gray:#757173;

	/*REDS*/
	--auto-red:#FE3036;
	--dark-red:#7c1619; /*For section headers*/
	--light-red:#f9989b;

	/*GREENS*/
	--auto-green:#30ff91;
	--dark-green:#1b8552;
	--light-green:#c2ffe2;

	/*BLUES*/
	--auto-blue:#309eff;
	--dark-blue:#1e5794;
	--light-blue:#cce5ff;
}

/*BUTTONS*/
.grey-button{
	background-color: var(--dark-gray);
	color: white;
	border-color: var(--auto-gray);
}
.grey-button:hover{
	background-color: var(--auto-gray);
}

.blue-button{
	background-color: var(--auto-blue);
	color: white;
	border-color: var(--dark-blue);
}

.blue-button:hover{
	background-color: var(--light-blue);
}

.green-button{
	background-color: var(--light-green);
	color: var(--dark-green);
	border-color: var(--dark-green);
}

.green-button:hover{
	background-color: var(--auto-green);
}

.red-button{
	background-color: var(--light-red);
	color: var(--dark-red);
	/*color: white;*/
	border-color: var(--dark-red);
}

.red-button:hover{
	background-color: var(--dark-red);
	color: white;
}


.btn{
	padding-top: .2em;
	padding-bottom: .2em;
}



/*SCROLL BAR*/
/* width and height*/
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  background: var(--light-red);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--dark-red); 
}


/*Font variables*/
.section-header{
	color: var(--dark-red);
	font-weight: bold;
	font-size: 36px;
	line-height: 1;
	letter-spacing: -3px;
}
/*Box shadow styles*/