
<div class="floating">
	<ul *ngIf="router.url.includes('/admin')" class="list-group list-group-flush sidenav p-1">
		<div class="profile-pic p-3 mx-auto w-100" style="background-color: var(--light-green);">
			<img src="assets/images/default-user.jpeg" class="rounded-circle mx-auto d-flex align-self-center" height="140">
		</div>

		<a class="py-2 pl-3 border-bottom green-button" [ngClass]="{'active': selectedItem == i}" (click)="isActive(i)" *ngFor="let item of adminNav; let i=index" routerLink="{{item.link}}">
			{{ item.name }}
		</a>
	</ul>
</div>